/* GLOBAL */

body{
font-family:'Segoe UI',sans-serif;
background:#f3f4f6;
color:#1f2937;
margin:0;
}

/* NAVBAR */

.navbar{
background:#1f2937;
}

.navbar-brand{
font-weight:600;
color:white !important;
}

.nav-link{
color:white !important;
}

/* HERO */

.hero{
background:linear-gradient(120deg,#eb7725,#eb7725);
color:white;
padding:120px 20px;
text-align:center;
}

.hero h1{
font-size:48px;
font-weight:700;
margin-bottom:20px;
}

.hero p{
font-size:20px;
margin-bottom:30px;
}

/* FEATURES */

.feature-box{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 6px 20px rgba(0,0,0,0.08);
transition:0.2s;
}

.feature-box:hover{
transform:translateY(-5px);
}

/* AUTH PAGES */

.auth-wrapper{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
padding:20px;
}

.auth-card{
width:100%;
max-width:420px;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* BUTTON */

.btn-primary{
background:#e7853f;
border:none;
}

.btn-primary:hover{
background:#dd6713;
}

/* TABLE */

table{
background:white;
border-radius:8px;
overflow:hidden;
}

/* DASHBOARD CARDS */

.dashboard-card{
padding:25px;
border-radius:10px;
background:white;
box-shadow:0 6px 20px rgba(0,0,0,0.08);
text-align:center;
}